body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.product img {
  border-radius: 8px;
}
.product-detail {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  width: 400px;
}

.product-detail img {
  display: block;
  margin: 0 auto 10px;
}

.product-detail h2 {
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

h1 {
  color: #2b2b2b;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input {
  margin: 5px 0 10px 0;
  padding: 8px;
  width: 100%;
}
user-btn {
      position: absolute;
      top: 15px;
      right: 20px;
      background-color: #007bff;
      color: white;
      padding: 8px 15px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
}
user-btn:hover {
  background-color: #0056b3;
}